@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200&display=swap");
.cuerpo {
  background-image: url("/assents/fondoPokemon.jpg");
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cuerpo .contenedor {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 40vw;
  height: auto;
  background-color: rgba(255, 240, 201, 0.6);
  border-radius: 10px;
}
.cuerpo .contenedor #form {
  text-align: center;
  font-size: 30px;
  list-style: none;
}
.cuerpo .contenedor #form ul {
  font-size: 40px;
  text-align: center;
  list-style: none;
  padding: 0px;
}
.cuerpo .contenedor #form ul .datos {
  margin-top: 5%;
}
.cuerpo .contenedor #form ul .datos input {
  width: 300px;
  height: 30px;
}
.cuerpo .contenedor #form ul button {
  margin-bottom: 2%;
  width: 150px;
  height: 40px;
}
.cuerpo .contenedor #form ul button:hover {
  background-color: black;
  color: white;
}

.navbar {
  display: grid;
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.navbar h1 {
  font-size: 50px;
  margin-left: 10px;
  letter-spacing: 2px;
}
.navbar .info {
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.navbar .info .user {
  display: flex;
  width: 200px;
  height: 60px;
  font-size: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 5px;
}
.navbar .info .carro {
  font-size: 2rem;
  cursor: pointer;
}
.navbar .info .carro .buy-card {
  display: none;
}
.navbar .info .carro .buy-card .tabla {
  width: 100%;
}
.navbar .info .carro .buy-card .tabla .elemento {
  font-size: 15px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
}
.navbar .info .carro:hover .buy-card {
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  background-color: black;
}
.navbar .info .carro:hover .buy-card .nav-card tr {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}
.navbar .info .carro:hover button {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.navbar .info .close-carrito {
  display: none;
}
.navbar .info .close {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 30px;
}

.section__article {
  display: grid;
  justify-content: center;
  text-align: center;
  height: 90%;
}
.section__article h2 {
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 15%;
}
.section__article .article__card {
  margin-top: 50px;
  margin-bottom: 10%;
  padding: 0px;
  width: 80vw;
  height: 100%;
  height: auto;
  background-color: black;
  border-radius: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.section__article .article__card .card {
  background-color: white;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 5px;
}
.section__article .article__card .card .nombre {
  font-size: 20px;
  text-transform: uppercase;
}
.section__article .article__card .card .clase {
  text-transform: uppercase;
}
.section__article .article__card .card .compra {
  margin-top: 40%;
  border-radius: 10px;
}
.section__article .article__card .card-b {
  background-image: url("/assents/bulbasaur.jpg");
  background-size: cover;
}
.section__article .article__card .card-i {
  background-image: url("/assents/ivysaur.jpg");
  background-size: cover;
}
.section__article .article__card .card-v {
  background-image: url("/assents/venusaur.jpg");
  background-size: cover;
}
.section__article .article__card .card-c {
  background-image: url("/assents/charmander.jpg");
  background-size: cover;
}
.section__article .article__card .card-ch {
  background-image: url("/assents/charmeleon.jpeg");
  background-size: cover;
}
.section__article .article__card .card-cha {
  background-image: url("/assents/charizard.jpg");
  background-size: cover;
}
.section__article .article__card .card-s {
  background-image: url("/assents/squirtle.png");
  background-size: cover;
}
.section__article .article__card .card-w {
  background-image: url("/assents/wartortle.jpeg");
  background-size: cover;
}
.section__article .article__card .card-bl {
  background-image: url("/assents/blastoise.jpg");
  background-size: cover;
}
.section__article .article__card .card-ca {
  background-image: url("/assents/caterpie.jpg");
  background-size: cover;
}

* {
  margin: 0px;
  font-family: "Anton", sans-serif;
}

/*# sourceMappingURL=base.css.map */
