.cuerpo {

    background-image: url('../assents/fondoPokemon.jpg');
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .contenedor {
        display: grid;
        justify-content: center;
        text-align: center;
        width: 40vw;
        height: auto;
        background-color: rgb(255, 240, 201, 0.6);
        border-radius: 10px;

        h1 {
            margin-top: 2%;
        }

        #form {
            text-align: center;
            font-size: 30px;
            list-style: none;
            
            ul {
                font-size: 40px;
                text-align: center;
                list-style: none;
                padding: 0px;

                .datos {
                    margin-top: 5%;
    
                    input {
                        width: 300px;
                        height: 30px;
                    }
                }

                button {

                    margin-bottom: 2%;
                    width: 150px;
                    height: 40px;

                    &:hover {
                        background-color: black;
                        color: white;
                    };
                };
            };
        };
    };
};