.navbar {
    display: grid;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid white;

    h1 {
        font-size: 50px;
        margin-left: 10px;
        letter-spacing: 2px;
    }

    .info {
        display: grid;
        justify-items: end;
        align-items: center;
        grid-template-columns: 2fr 0.5fr 0.5fr;

        .user {
            display: flex;
            width: 200px;
            height: 60px;
            font-size: 20px;
            background-image: url('../assents/fondoPokemon.jpg');
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 5px;
        }

        .carro {

            font-size: 2rem;
            cursor: pointer;

            .buy-card {
                display: none;

                .tabla {
                    width: 100%;

                    .elemento {
                        font-size: 15px;
                        border: 1px solid white;
                        display: grid;
                        height: 50px;
                        grid-template-columns: repeat(3, 1fr);
                        align-items: center;
                        text-align: center;
                        margin-bottom: 10px;

                        td {
                            margin: 0 10px 0 10px;
                        }
                    }
                }
            }

            &:hover .buy-card {
                display: grid;
                justify-content: center;
                overflow: hidden;
                overflow-y: scroll;
                width: 400px;
                height: 400px;
                position: absolute;
                border: 2px solid white;
                border-radius: 4px;
                right: 0;
                background-color: black;

                .nav-card tr {

                    font-size: 1rem;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 10px 20px 10px;
                }
            }

            &:hover {

                .close-carrito {
                    display: block;
                    width: 60%;
                    padding: 1rem;
                    margin: 10px auto;
                    background-color: transparent;
                    color: white;
                    border: 1px solid white;
                    cursor: pointer;
                }
            }
        }

        .close-carrito {
            display: none;
        }

        .close {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}


.section__article {
    background-image: url('../assents/934051.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    text-align: center;
    height: 90%;

    h2 {
        font-size: 50px;
        background-color: rgb(10, 10, 10, 0.8);
        color: white;
        border-radius: 5px;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .article__card {

        margin-top: 50px;
        margin-bottom: 10%;
        padding: 0px;
        width: 80vw;
        height: 100%;
        height: auto;
        background-color: rgb(10, 10, 10, 0.8);
        border-radius: 5px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;

        .card {
            background-color: white;
            text-align: center;
            width: 200px;
            height: 200px;
            margin: 30px;
            border-radius: 5px;

            .nombre {
                font-size: 20px;
                text-transform: uppercase;
                background-color: black;
                color: white;
                letter-spacing: 3px;
                border-radius: 3px;

            }

            .clase {
                text-transform: uppercase;
            }

            .precio {
                background-color: white;
                border-radius: 3px;
            }

            .compra {
                margin-top: 40%;
                border-radius: 5px;
            }
        }

        .card-b {

            background-image: url("../assents/bulbasaur.jpg");
            background-size: cover;
        };

        .card-i {
            background-image: url("../assents/ivysaur.jpg");
            background-size: cover;
        }

        .card-v {
            background-image: url("../assents/venusaur.jpg");
            background-size: cover;
            background-position: right;
        }
        .card-c {
            background-image: url("../assents/charmander.jpg");
            background-size: cover;
            background-position: center;
        }

        .card-ch {
            background-image: url("../assents/charmeleon.jpeg");
            background-size: cover;
            background-position: center;
        }

        .card-cha {
            background-image: url("../assents/charizard.jpg");
            background-size: cover;
            background-position: center;
        }

        .card-s {
            background-image: url("../assents/squirtle.png");
            background-size: cover;
            background-position: center;
        }

        .card-w {
            background-image: url("../assents/wartortle.jpeg");
            background-size: cover;
        }

        .card-bl {
            background-image: url("../assents/blastoise.jpg");
            background-size: cover;
            background-position: center;
        }

        .card-ca {
            background-image: url("../assents/caterpie.jpg");
            background-size: cover;
            background-position: center;
        };
    };
};

